.slider{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slides{
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    transition: all 2s;
}
.btn{
    transform: scale(1.05);
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: white;
    font-weight: 700;
    border: 0.5px solid;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    animation: pulseanime 2s linear infinite;
}

.btn.btn-left{
    left: 10px;
}
.btn.btn-right{
    right: 10px;
}

@keyframes pulseanime {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(5px);
    }
    
}